
data/Example1.csv

data/Example2.csv

dataOut/Example1.csv

dataOut/Example2_1_1.csv

dataOut/Example2_0_0.csv

dataOut/Example2_0_1.csv

dataOut/Example2_1_0.csv

data/Data requirement template-May 26th 2017.xlsx

data/~$Data requirement template-May 26th 2017.xlsx
